{% load static %}

<style>
    body{
        background-color: rgba(228, 221, 221, 0.993);
        padding-top: 50px;
    }
    form{
        height:500px;
        max-width: 590px;
        margin: auto;
        background-color: whitesmoke;
        
    }
    .form-control {
        width: 70%; /* Adjust the width as needed */
        padding: 10px;
        margin-top: 50px;
        border: 1px solid #ccc;
        border-radius: 5px; 
        box-sizing: border-box;
    }
    
    
</style>
<a href='{% url "todo:home" %}'>Back</a>
<div class='form-container'>
    <form method="POST" action="" class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Create Todo</button>
    </form> 
</div>